/*===========================================================================
0.0 Common
===========================================================================*/
/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0; }

fieldset, img {
  display: block;
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid silver; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

input,
button {
  border: none; }

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

button,
select {
  border: none;
  background: none;
  padding: 0;
  outline: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none; }

select:focus, select::-moz-focus-inner,
option:focus,
option::-moz-focus-inner {
  outline: none;
  border: none; }

input,
textarea {
  border: none; }

a,
p {
  font-size: inherit;
  color: inherit; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

sup {
  font-size: 0.6em; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #333333;
  font-family: "Lato", sans-serif; }

.wrapper {
  min-height: 100%;
  position: relative;
  color: white; }
  .wrapper.dark {
    color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  font-size: 150px; }

.asker-img {
  width: 100%;
  height: 100vh; }

.asker-box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999999;
  opacity: 1;
  /* Firefox */ }
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999; }
.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999999; }

.form-ask,
.form-answer {
  position: absolute;
  left: 20px;
  right: 20px; }

.form-ask {
  bottom: 20px; }

.form-answer {
  top: 20%; }

.asker-input {
  background: rgba(0, 0, 0, 0.7);
  color: white; }
  .asker-input:hover, .asker-input:focus {
    background: rgba(0, 0, 0, 0.7);
    color: white; }

/*# sourceMappingURL=yesno.css.map */
